@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$auth-1-inner-max-width: 410px !default;

.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  .auth-inner {
    width: 100%;
    position: relative;
  }

  &.auth-v1 {
    align-items: center;
    justify-content: center;
    overflow: hidden; // For v1 scroll for long auth form
    .card-body {
      padding: 90px 32px 40px;
    }
  }

  &.auth-v1 .auth-inner {
    max-width: $auth-1-inner-max-width;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    .brand-text {
      font-weight: 600;
    }
  }

  .auth-footer-btn {
    .btn {
      padding: 0.6rem !important;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.auth-wrapper .auth-bg {
  background-color: $white;
}

.dark-layout {
  .auth-wrapper .auth-bg {
    background-color: $theme-dark-card-bg;
  }
}
